:root{
    --cor-fundo: #011C26;
    --cor-fundo-titulo: #025159;
    --cor-titulo: #0CF2C8;
    --cor-texto: #0AA696;
    --cor-destaque: #FF8321;

    --fonte-padrao:'Oswald', sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-texto: 'Source Sans Pro', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
    color: white;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--cor-fundo);
}

main > div{
    border: 1px solid var(--cor-destaque);
    border-top: none;
}

main > .img-artigo {
    height: auto;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

main > .artigo{
display: flex;
flex-direction: column;
justify-content: center;
text-align: justify;
}

main > .artigo > p{
    font-family: var(--fonte-texto);
    margin: 20px
}


main > div > img {
    box-sizing: border-box;
    width: 100%;
    min-width: 200px;
    filter: grayscale(1);
    transition-duration: 1s;
}

main > div > img:hover {
    filter: grayscale(0);
}

main > div > img:hover {
    opacity: 100%;
}

main h1 {
    color: var(--cor-destaque);
    padding: 20px;
}


body > main > .pintar {
    background-color: black;
}

@media (max-width: 800px) {
    main{
        display: flex;
        flex-wrap: wrap;
    } 
}

@media (max-width: 800px) {
    body > main > .img {
        background-color: black;
        }
}

@media (max-width: 800px) {
    body > main > .artigo {
        background-color: var(--cor-fundo-titulo);
        }
}


    

